<div class="profile-header">
	<div class="w-container">
		<br />
		<div class ="row">
			<div class = "w-col-9">
				<div class ="avatar">
					<%= image_tag @profile.user.avatar.url(:medium), :class => "circular-image" %>
				</div>
				<div class = "profile-header"> 
					<h3><%= @profile.user.fullname %></h3>

					<% if @profile.user == current_user %>
						<%= link_to "Edit Profile", "/user/settings" %>
					<%else%>
					<%end%>



				</div>
				<p class="meta">
					<small class="comment-user-height">Height: <%= @profile.height %> | </small>
				<small class="comment-user-height">Weight: <%= @profile.weight %> | </small>
				<small class="comment-user-height">Style: <%= @profile.byline %> | </small>
					<span class="joined">Location: <%= @profile.location %> | </span>
					Joined <span class="joined"><%= @profile.user.created_at.strftime("%B %e, %Y") %></span>	
				</p>	
				<p class="bio"><%=@profile.about %> </p>
			</div>		
		</div>
	</div>	
</div>

<div class= "profile-content">
	<article id ="profile-tabs">
		<div class="ui responsive grid">
			<div class="w-col-12">
				<div class="tab-menu">
					<a class="tab">Comments</a>
					#add followers/following
				</div>	
			</div>	
		</div>
	</article>

	<div class = "w-container">
		<div class="w-col-9">
			<div class = "w-section">
				<h3> Comments </h3>

				<div class="profile-comments">
					</br>
					<% @comments.each do |comment| %>
						<div class="comment">	
							<div class="comment-body">
								<div><%= @profile.user.fullname%> added a comment to <%= link_to comment.commentable.name, polymorphic_url(comment.commentable) %> </div>

								<div><%= comment.content %></div>
							</div>

						<hr class ="comments-rule child">
					
						</div>	
					<% end %>

				</div>
			</div>
		</div>
	</div>	
</div>