
<div class="hero2">
    
  <div class = "mobile-only" style="height: 450px">  
    <p class="large brandon" style="font-size: 26px; margin: 20px 0 0 20px ">DapperCrowd</p>
    <p class="small brandon" style="font-size: 16px; margin: 10px 0 0 20px; line-height: 20px; text-align: left">Crowd Funded Menswear<br>that doesn't hurt your wallet.</p>
    <br />
      <%= button_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "facebook", :style => "margin-left: 25px;" %>
    <h3 style="padding: 5px 120px;"> Or </h3>
   </div> 



  <div class = "desktop-only">  
    <p class="large brandon">Dapper Crowd</p>
    <p class="small brandon">Crowd Funded Menswear<br>that doesn't hurt your wallet.</p>
    <br />
      <%= button_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "facebook", :style => "margin-left: 25px;" %>
    <h3 style="padding: 5px 120px;"> Or </h3>
   </div> 



    <div class="form-wrap clearfix">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    
      <div class="twofields">
        <div>
        <%= f.text_field :fullname, :class => "signup_field", :autofocus => true, :placeholder => "First Name" %></div>
        <div>
        <%= f.email_field :email, :class => "signup_field", :placeholder => "Email" %></div>
      </div>
        <div>
        <%= f.password_field :password, :class => "signup_field", :placeholder => "Password"%></div>

        <button class="button hero-button show_loader" data-loader="user_form" type="submit" style="margin-left: 20px; align: left;" >Sign Up</button> 
           <p style="display: inline-block; margin-left: 5px;"> or </p> <a style="display: inline-block; font-size: 20px; color: #969799; vertical-align: middle;" href="/account/sign_in">Login</a><br />
        <span class="loader" data-loader="user_form" style="display:none"></span>
        
      <% end %>
      
    </div>


</div>


