<%= form_for(@mainoption) do |f| %>
  <% if @mainoption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mainoption.errors.count, "error") %> prohibited this mainoption from being saved:</h2>

      <ul>
      <% @mainoption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :show %><br />
    <%= f.check_box :show %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
