<body>
  <div class="hero-section" id="home" data-ix="show-nav">
      
    <div class="w-container hero-text">
      <h3 class="upper hero" data-ix="upper">CROWDFUNDED&nbsp;MENSWEAR</h3>
      <h1 class="hero-headline" data-ix="hero-headline">welcome to <strong>DAPPERCROWD</strong></h1><a class="button hero-button" href="#portfolio" data-ix="button-hero-button">VIEW PROJECTS</a>
      <a class="w-inline-block hero-arrow-link-block" href="#about-us" data-ix="hero-arrow-link-block">
        <%= image_tag("arrow.png", width: "20") %>
      </a>
    </div>
  </div>
  <div class="section" id="about-us">
    <div class="w-container">
      <div class="text-hero">
        <h3 class="upper title">Quality Clothes at Wholesale Prices</h3>
        <h2 class="white-tittle">WE Are DAPPERCROWD</h2>
        <div class="div-block">
          <div class="hero-small-line header"></div>
        </div>
        <div class="w-row">
          <div class="w-col w-col-4 colum-facts">
            <%= image_tag("1.min.jpg") %>
            <h3 class="service-tittle _2">MENSWEAR&nbsp;REDEFINED</h3>
            <p>We visit brands and factories throughout the world to find the best products for you.&nbsp;&nbsp;Each item is limited edition or an early release, giving you inside access unlike anywhere else.</p>
          </div>
          <div class="w-col w-col-4 column-fact">
            <%= image_tag("about-ussuit.jpg")%>
            <h3 class="service-tittle _2">QUALITY GARMENTS</h3>
            <p>We know menswear.&nbsp;&nbsp;We've been in the industry for years and have built relationships with some of the best factories and brands in the world.</p>
          </div>
          <div class="w-col w-col-4 column-fact">
            <%= image_tag("about-usshoe.jpg")%>
            <h3 class="service-tittle _2">AFFORDABLE&nbsp;PRICING</h3>
            <p>We match supply and demand so that we can give you the best prices.&nbsp;&nbsp;There's no waste when we do a production run so we pass on those savings to you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section facts">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 colum-facts">
          <h2 class="fakts"></h2>
        </div>
        <div class="w-col w-col-4 colum-facts">
          <h2 class="fakts">Proudly BUILT&nbsp;IN</h2>
          <div class="hero-small-line team fact"></div>
          <h3 class="numbers">NEW&nbsp;YORK&nbsp;CITY</h3>
        </div>
        <div class="w-col w-col-4 colum-facts"></div>
      </div>
    </div>
  </div>
  <div class="section gallery" id="portfolio">
    <div id="homepage">
  <div class="container clearfix">

      <div class="homepage_content clearfix">
        <%= raw(@settings.homepage_content) %>
      </div>
    <div class="text-hero">
        <h2 class="white-tittle"><strong>CURRENT&nbsp;CAMPAIGNS</strong></h2>
        <div class="div-block">
          <div class="hero-small-line header"></div>
        </div>
      </div>


    <div class="campaigns">

      <% if @campaigns.count > 0 %>
        <% @campaigns.each do |campaign| %>
          <% if campaign.published_flag %>
          <a href="<%= url_for campaign_home_path(campaign) %>" class="campaign clearfix">

            <% if campaign.media_type == 'video' && !campaign.video_embed_id.blank?%>

              <% if campaign.video_placeholder.file? %>
                <%= image_tag campaign.video_placeholder.url(:main), alt: "main_image" %>
              <% else %>
                <%= image_tag "https://img.youtube.com/vi/#{campaign.video_embed_id}/hqdefault.jpg", alt: "main_image" %>
              <% end %>

            <% else %>

              <% if campaign.main_image.file? %>
                <%= image_tag campaign.main_image.url(:small), alt: "main_image" %>
              <% else %>
                <div class="placeholder"></div>
              <% end %>

            <% end %>

            <p class="info">
              <%= truncate(campaign.name, length: 50) %>
            </p>

            <% if campaign.raised_amount.to_f/100 < campaign.goal_dollars.to_f %>
              <div id='progress_bg'>
                <div id='progress' class='' style='width: <%= campaign.tilt_percent.nil? ? 0 : campaign.tilt_percent.ceil %>%;'>
                </div>
              </div>
            <% else %>
              <div id="progress_bg">
                <div id="progress">
                </div>
                </div>
            <% end %>

            <p class="numbers pull-left">
              <% if campaign.goal_type == 'dollars' %>
              <strong>$<%= campaign.raised_amount.ceil %></strong><br/>
              <%= campaign.progress_text %>
              <% else %>
               <strong><%= campaign.orders %></strong><br/>
              <%= campaign.contributor_reference.pluralize(campaign.orders) %>
              <% end %>
            </p>

            <p class="numbers pull-right" style="text-align:right">
            <% if campaign.expired? %>
              <strong>No</strong><br/>days left!
            <% else %>
              <strong><%= distance_of_time_in_words_to_now(campaign.expiration_date).gsub(/\D/, "") %></strong>
              <span style="display: block; width: 100px;">
                <%= distance_of_time_in_words_to_now(campaign.expiration_date).gsub(/\d/, "").gsub("about", "") %> left
              </span>
            <% end %>
            </p>

          </a>
          <% end %>
        <% end %>
      <% else %>

      <div class="center" style="padding-left:0px"><h4>No campaigns yet. <% if user_signed_in? && current_user.admin? %><%= link_to 'Start one now!', new_admin_campaign_path %><% end %></h4></div>

      <% end %>
    </div>
  </div>
</div>
  </div>
  <div class="color-stripe">
    <div class="w-container">
      <h3 class="upper stipe">Clothing And Manufacturing is What We Do</h3>
      <h1 class="headline-stripe">We BRING&nbsp;<strong>IDEAS</strong> TO LIFE</h1>
    </div>
  </div>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
