
<div class="hero3">
    <p class="large brandon">Dapper Crowd</p>
    <p class="small brandon">CrowdFunded Suits & Tuxedos<br>that don't hurt your wallet.</p>
    <br />




    <div class="form-wrap clearfix">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    
      <div class="twofields">
        <div>
        <%= f.text_field :fullname, :class => "signup_field", :autofocus => true, :placeholder => "First Name" %></div>
        <div>
        <%= f.email_field :email, :class => "signup_field", :placeholder => "Email" %></div>
      </div>
        <div>
        <%= f.password_field :password, :class => "signup_field", :placeholder => "Password"%></div>
        <%= f.hidden_field :landing_page, :value => "wedding" %></div>

        <button class="button hero-button show_loader" data-loader="user_form" type="submit" style="margin-left: 20px; align: left;" >Sign Up</button> 
           <p style="display: inline-block; margin-left: 5px;"> or </p> <a style="display: inline-block; font-size: 20px; color: #969799; vertical-align: middle;" href="/account/sign_in">Login</a><br />
        <span class="loader" data-loader="user_form" style="display:none"></span>
        
      <% end %>
      
    </div>


</div>


