<h2>The Journal</h2>

<div class="post-subtitle">Interviews with Designers and Makers</div>

<div class="w-container">
  

  <% @posts.each do |post| %>
    <div class="post-index">
      <div class = "post-index-image">
        <%= link_to( image_tag(post.main_image.url(:medium)), post_path(post) )%>
      </div>
      <div class = "post-details", style: "height">
        <div class = "post-info">
          <span> <%= post.created_at.strftime("%b. %d, %Y") %> </span>
          <span class = "right"><%= image_tag(("commentbubble.png"), :class => "post-icon") %> <%= post.comments.count %></span>

        </div>  
        <div class = "post-text">
        <%= link_to( post.name, post) %>
        <p> <%= post.summary %></p>
        </div>
        <div class = "short">
          <%=link_to( image_tag(post.user.avatar.url(:medium), :class => "circular-image-mini"), profile_path(post.user.profile)) %> by <%= link_to(post.user.fullname, post.user.profile) %>
        </div>  
      </div>
      <div style="clear: both;"></div>
    </div>
  <% end %>
  </table>

  <br />

</div>
