<%= form_for(@lab) do |f| %>
  <% if @lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab.errors.count, "error") %> prohibited this lab from being saved:</h2>

      <ul>
      <% @lab.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br />
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <br />
    <%= f.label :headerimage %>
    <%= f.file_field :headerimage %>
  </div>
  <br />
  <div class="field">
    <br />
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <br />
  <div class="field">
    <%= f.label :show %>
    <%= f.check_box :show %>
  </div>
  <br />
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <br />
    <%= f.label :status %>
    <%= f.select :status, options_for_select(["voting", "developing", "crowdfunding"], "voting") %>
  </div>

  <div class="field">
    <br />
    <%= f.label :vote_trigger %>
    <%= f.text_field :vote_trigger %>
  </div>

  <div class="field">
    <br />
    <%= f.label :about %>
    <%= f.cktext_area :about %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
