<div id = "masonry-container" class="transitions-enabled infinite-scroll clearfix centered">
      <div id = "pins" >
        <% @labs.each do |lab| %>
          <div class = "box2">
            <figure>
              <h3> <%= lab.name %> </h3>
              <%=  link_to(image_tag(lab.image.url(:medium)), lab) %>
              <p> <%= lab.mainoptions.sum(&:score)  %> Votes</p>
      
            </figure> 
              
          </div>  
          
            <% if user_signed_in? && current_user.admin?  %>
              <td><%= link_to 'Show', lab %></td>
              <td><%= link_to 'Edit', edit_lab_path(lab) %></td>
              <td><%= link_to 'Destroy', lab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        <% end %>
      </div>

      <br />
      <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'New lab', new_lab_path %>
      <% end %>
</div>