  <div id = "masonry-container" class="transitions-enabled infinite-scroll clearfix centered">
              <div id = "pins" >
                <% @lab.mainoptions.order('cached_votes_up DESC').each do |f| %>
                  <div class = "box" style = "background: #fff;">
                    <figure>
                      <h3> <%= f.name %> </h3>

                      <%=  image_tag f.image(:medium) %> 
                      <span style="align: left; font-size: 13px"><p style="font-size: 13px"> Est. Price: <%= number_to_currency(f.estimated_price, precision: 0) %> 
                         <span style="float: right; font-size: 13px">Est. Minimum: <%= f.number_of_backers %> </p></span>
   
                      <p style="font-size: 13px"> <%=f.description %> </p>

                      <% if user_signed_in?  %>
                        <p class = "description" style="font-size: 13px"> <%= link_to "upvote", like_mainoption_path(f), class: 'vote', method: :put, remote: true, data: { type: :json } %> 
                        <%= content_tag :span, f.score %> </p>
                      <% else %> 
                        <p class = "description" style="font-size: 13px"> <%= link_to "upvote", new_user_registration_path %> 
                        <%= content_tag :span, f.score %> </p>
                      <% end %>
                    </figure> 
                  </div>
                 <% end %>         
              </div>
            </div>