<p id="notice"><%= notice %></p>

<div id="campaign">
  <div id="funding_area">
    <div class="container clearfix">
      <div class="center">
        <h2 class="campaign_title"><%= @lab.name %></a></h2>
      </div>
      <div class="clearfix">      
          <div id="image">
            <%= image_tag @lab.image.url(:large) %>
          </div>
          <div id="backing">
            <h5> <%= @lab.description %> </h5>	
            <div>
              <p> Voters </p>
              <% @lab.mainoptions.each do |f| %>
                <%  f.votes_for.voters.each do |p| %>
                   <%= link_to( image_tag(p.avatar(:medium), :class => "circular-image-mini"), profile_path(p.profile)) %> 
                <% end %>
              <% end %>  
            </div>
          </div>
       </div>
     </div>   
  </div>
</div>

</br>
<div id="campaign_body">
  <div class="container clearfix">
     <div class="main_content">
       <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
            <li><a href="#tab2" data-toggle="tab" onclick="load_disqus()">Comments <span class="badge badge-info"><%= @commentable.comments.count %></span></a></li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <%= render "masonry_display" %>
              </div>
              <div class="tab-pane" id="tab2">
                  <div class="comment_content">
                <div id="disqus_thread"></div>
                <% if user_signed_in? %>
                <%= render :partial => "comments/form" %>
                <% else %> 
                <%= link_to "Sign Up to Comment", new_user_registration_path %>  
                <% end %>
                <%= render :partial => "comments/comments" %>

              </div>
            </div>
          </div>  
        </div>
      </div>
  </div>
</div> 
<script>

$(window).load(function(){ 

  $(function(){

    $('#masonry-container').masonry({
      itemSelector: '.box',
      columnWidth: 100,
      gutterWidth: 10,
      isFitWidth: true
    });
  });
});

</script>

 <script>

    $(document)

      .on('ajax:send', '.description', function () { $(this).addClass('loading'); })
      .on('ajax:complete', '.description', function () { $(this).removeClass('loading'); })
      .on('ajax:error', '.description',function () { $(this).after('<div class="error">There was an issue.</div>'); })
      .on('ajax:success', '.description', function(e, data, status, xhr) { $(this).find("span").html(data.count); });

  </script>
  <script src="js/bootstrap.min.js"></script>